In [15]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [16]:
url = "https://realpython.github.io/fake-jobs/"
all_jobs = []

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
job_cards = soup.find_all("div", class_="card-content")

In [17]:
for jobs in job_cards:
    title = jobs.find("h2", class_="title").text.strip()
    company = jobs.find("h3", class_="company").text.strip()
    location = jobs.find("p", class_="location").text.strip()
    job_links = jobs.find("a")
    if job_links:
        job_urls = job_links["href"]
    else:
        job_urls = "NaN"
    
    all_jobs.append({
        "Title": title,
        "Company Name": company,
        "Location": location,
        "Job detail page URL": job_urls
    })

In [18]:
df = pd.DataFrame(all_jobs)
df.to_csv("fake_jobs.csv", index=False)

In [19]:
df = pd.read_csv('fake_jobs.csv')
df

,Title,Company Name,Location,Job detail page URL
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA",https://www.realpython.com
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA",https://www.realpython.com
2,Legal executive,"Jackson, Chambers and Levy","Port Ericaburgh, AA",https://www.realpython.com
3,Fitness centre manager,Savage-Bradley,"East Seanview, AP",https://www.realpython.com
4,Product manager,Ramirez Inc,"North Jamieview, AP",https://www.realpython.com
...,...,...,...,...
95,Museum/gallery exhibitions officer,"Nguyen, Yoder and Petty","Lake Abigail, AE",https://www.realpython.com
96,"Radiographer, diagnostic",Holder LLC,"Jacobshire, AP",https://www.realpython.com
97,Database administrator,Yates-Ferguson,"Port Susan, AE",https://www.realpython.com
98,Furniture designer,Ortega-Lawrence,"North Tiffany, AA",https://www.realpython.com
99,Ship broker,"Fuentes, Walls and Castro","Michelleville, AP",https://www.realpython.com